<html>
  <head>
    <title>Login</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <b>Personalized Nutritionist</b>
      </div>
      <div class="login-box-body">
        <p class="login-box-msg">Login in</p>
        <form action="/login" method="post">
          <div class="form-group has-feedback">
            <input name="userId" class="form-control" placeholder="User Id" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button align="center" type="submit" class="btn btn-primary btn-block btn-flat">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>